/* Mixins. */
@mixin image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* root Drawer */
.logo {
  cursor: pointer;
}
.ant-anchor-link-title {
  color: #fff;
}
.ant-drawer-body {
  background-color: #f5f0ea;
  padding: 0;
  margin: 8px;
}
.ant-anchor {
  text-align: center;
  text-decoration: underline;
}
.ant-anchor {
  line-height: inherit;
}

.ant-anchor-ink {
  height: 89%;
}
/* Web page */
.fakeShop {
  & .ant-card {
    margin: 0 auto;
    padding: 16px;
  }

  & .ant-card-cover img {
    width: 150px;
    height: 100px;
    @include image-center();
  }

  & .ant-col {
    margin: 0 auto;
  }
}

/* Header Page */
.header {
  display: flex;
  justify-content: space-between;
  color: #fff;

  & .mobileHidden .ant-anchor {
    display: flex;
    gap: 36px;
  }

  & .mobileHidden .ant-anchor-link-title {
    color: #fff;
  }
  & .mobileVisible {
    display: none;
    background-color: #061629;
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
  & .mobileHidden {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

/* Landing Page */
.landingPage .ant-image {
  display: flex;
}

/* Products Page */
.products-container {
  background-color: #b1aaa2;
  min-height: 100vh;

  .products {
    &__subheader {
      margin: 24px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 16px;
    }
  }
}
