@import "antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


.fakeShop {
  font-family: "Poppins";
}

.products-container {
  background-color:#b1aaa2;
}

.products .ant-card-cover {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.mobileHidden .ant-anchor {
  display: flex;
  gap: 36px;
}

.mobileHidden .ant-anchor-link-title {
  color: #fff;
}

.landingPage .ant-image {
  display: flex;
}
