/* Mixins. */
@mixin image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* root Drawer */
.ant-anchor-link-title {
  color: #fff;
}
.ant-drawer-body {
  background-color: #061629;
  padding: 0;
  margin: 8px;
}
.ant-anchor {
  text-align: center;
  text-decoration: underline;
}
.ant-anchor {
  line-height: inherit;
}

.ant-anchor-ink  {
  height: 89%;
}
/* Web page */
.fakeShop {
  
}

/* Header Page */
.header {
  display: flex;
  justify-content: space-between;
  color: #fff;

  
  & .mobileHidden .ant-anchor {
    display: flex;
    gap: 36px;
  }

  & .mobileHidden .ant-anchor-link-title {
    color: #fff;
  }
  & .mobileVisible {
    display: none;
    background-color: #061629;
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
  & .mobileHidden {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

/* Landing Page */
.landingPage .ant-image {
  display: flex;
}

/* Products Page */
.products-container {
  background-color: #b1aaa2;

  & .products .ant-card {
    margin: 0 auto;
    padding: 16px;
  }

  & .ant-card-cover img {
    width: 150px;
    height: 100px;
    @include image-center();
  }

  & .ant-col {
    margin: 0 auto;
  }
}
